/* Css for the GRAFA RJCC\RYC page */

html {
    font-family: 'Montserrat', sans-serif;
    background-color: #08153c;
    background-image: url(black-twill.png);
}

a {
    text-decoration: none;
}

#container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    background-color: #152550;

}

.usfa {
    size: ;
}