html {
    margin: none;
    padding: none;
}

body {
   font-family: Georgia, 'Times New Roman', Times, serif; 
}

#projects {
    background-color: aqua;
    color: brown;
    width: 800px;
    height: 1200px;
}

#resume {
    background-color: chocolate;
    width: auto;
    height: 500px;
}

#contact {
    background-color: grey;
    width: auto;
    height: 500px;
}
